.img-deputy-photo {
  height: 60px;
}

.deputies-container .row-expansion-style {
  padding: 0px !important;
}

.deputies-container .row-expansion-style {
  padding: 0px !important;
}

.deputies-container .react-bootstrap-table td {
  vertical-align: middle;
}
